<header class="header">
    <div class="logo">
      <h1>Gestion des Projets</h1>
    </div>
    <nav>
      <ul>
        <li><a [routerLink]="['/home']" class="btn btn-primary">Accueil</a></li>

     

        <li><a [routerLink]="['/contrats/liste']" class="btn btn-warning">Contart</a></li>
        <li><a [routerLink]="['/user/profile' ]" class="btn btn-primary">Pofile </a> </li>
        <li><a [routerLink]="['/Equipe' ]" class="btn btn-primary">Equipe </a></li>
        <li><a [routerLink]="['/formation' ]" class="btn btn-primary">Formation </a></li>



        <li *ngIf="hasRole('admin') ">
          <a [routerLink]="['Universite']" class="btn btn-primary">Universite</a>
        </li>


        <li *ngIf="hasRole('admin') ">
          <a [routerLink]="['departement']" class="btn btn-primary">departement</a>
        </li>

        <li><a [routerLink]="['/ressources' ]" class="btn btn-primary">Ressource </a></li>



        <li *ngIf="hasRole('admin')">
          <a [routerLink]="['/finance']" class="btn btn-primary">Demandes</a>
        </li>

       
        
        <li><a [routerLink]="['/finance/add' ]" class="btn btn-primary">add finance </a></li>
      



        <li>
          <a href="#" (click)="logout()" class="btn btn-outline-danger">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
          </a>
        </li>
        
        
      
      </ul>
    </nav>
