<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left">
          <p>&copy; 2025 Gestion des Projets - Tous droits réservés</p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <ul class="footer-links">
            <li><a [routerLink]="['/home']" class="footer-link">Accueil</a></li>
            <li><a [routerLink]="['/contact']" class="footer-link">Contact</a></li>
            <li><a [routerLink]="['/about']" class="footer-link">À propos</a></li>
            <li><a [routerLink]="['/terms']" class="footer-link">Conditions d'utilisation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  