
<body>

    <div class="container">
        <h2>Ajouter une Aide Financière</h2>
        <form action="#" method="POST">
            <label for="nomProjet">Nom du projet</label>
            <input type="text" id="nomProjet" name="nomProjet" required>

            <label for="montant">Montant demandé </label>
            <input type="number" id="montant" name="montant" required>

            <label for="description">Description du projet</label>
            <textarea id="description" name="description" rows="4" required></textarea>

           

            <button type="submit" class="submit-btn">Soumettre la demande</button>
        </form>
    </div>

</body>

