<div class="container">
    <h2>Demandes d'Aide Financière</h2>
    <table>
        <thead>
            <tr>
                <th>ID Étudiant</th>
                <th>Montant Demandé</th>
                <th>Nom du Projet</th>
                <th>Status</th>
                <th>Date Soumise</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests">
                <td>{{ request.studentId }}</td>
                <td>{{ request.amountRequested }}€</td>
                <td>{{ request.reason }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.dateSubmitted | date:'short' }}</td>
                <td>
                    <button class="accept" (click)="accept(request._id!)" [disabled]="request.status==='approved'">Accepter</button>
                    <button class="reject" (click)="reject(request._id!)" [disabled]="request.status==='rejected'">Refuser</button>
                    <button (click)="edit(request._id!)">Modifier</button>
                    <button (click)="delete(request._id!)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="submit-btn" routerLink="/finance/add">Ajouter une demande</button>
</div>